body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 1440px;
    padding-left: 156px;
    padding-right: 156px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */
.header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.header .container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 332px;

}

.header-nav {
    display: flex;
}

.header-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.header-logo-studio {
    color: #2E2F42;
}

.header-menu-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    margin-left: 76px;
    margin-right: 0;

}

.header-menu-item {
    flex-basis: calc((100% - 80px) / 3);
}

.header-menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.header-menu-link:hover,
.header-menu-link:active,
.header-menu-link:focus {
    color: #404BBF;
}

.header-addres {
    font-style: normal;
}

.header-addres-list {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.header-addres-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.header-addres-link:hover,
.header-addres-link:active,
.header-addres-link:focus {
    color: #404BBF;
}

/*  Main */
/* Section-dark */
.section-dark {
    background-color: #2E2F42;

}

.section-dark .container {}

.section-dark-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    margin-right: auto;
    margin-left: auto;




}

.button-order {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background: #4D5AE5;
    cursor: pointer;
    display: inline-flex;
    padding: 16px 32px;
    align-items: center;
    gap: 10px;
    margin-top: 48px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;

}

.button-order:hover,
.button-order:active,
.button-order:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/* Section-advantages */
.advantages-title {
    color: #2e2f42;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.advantages-item {
    display: flex;
    flex-basis: calc((100% - 72px) / 4);
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.advantages-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
}

.advantages-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: left;
}

/* Section-team */
.team-section {
    background: #f4f4fd;
}

.team-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.team-item {
    background-color: #FFFFFF;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 72px;
}

.team-list-text {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;

}

.team-subtitle {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Section-portfolio */
.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.portfolio-list-text {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    margin-bottom: 32px;
}

.portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-item {
    flex-basis: calc((100%-48px) /3);
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid #E7E9FC;
    margin-top: 72px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* footer */
.footer {
    background: #2E2F42;
}

.footer .container {
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;

}

.footer-logo-studio {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-top: 16px;
    width: 264px;
}